<h3>
    Devices
</h3>

<p>
    This page shows all devices connected from your IP address or that you have viewed in this session
</p>

<p>
    <ul>
        {{#each dev in model}}
            <li>
                {{#link-to 'device' dev.id}}
                    {{dev.name}}
                {{/link-to}}
            </li>
        {{/each}}
    </ul>
</p>
