html, body {
  margin: 20px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  opacity: 0.2;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.pin {
    fill: none;
    stroke: steelblue;
}

text.label-text, .tick text {
    font-size: 12px;
}

.focus line {
    stroke: steelblue;
    stroke-dasharray: 3,3;
    opacity: 0.5;
}

.y1,.y3 {
    opacity: 0.8;
    stroke: white;
    stroke-width: 3.5px;
}
