<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">iolggr</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">


                {{#link-to "devices" tagName="li" class="menu-link"}}
                    <a {{bind-attr href="view.href"}}>
                        <i class="fa fa-lg fa-search"></i>
                        Devices
                    </a>
                {{/link-to}}

                {{#link-to "charts" tagName="li" class="menu-link"}}
                    <a {{bind-attr href="view.href"}}>
                        <i class="fa fa-lg fa-search"></i>
                        Charts
                    </a>
                {{/link-to}}

            </ul>



            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    {{outlet}}
    {{outlet "modal"}}
</div>


