<div class="col-lg-6">

<h2>
    Device setup
</h2>

<p>
    It looks like your device is not yet online! Don't panic though - it's easy to get the device up and running.
</p>


<h3>
    Device Setup
</h3>
<p>
    Once the device is plugged in it should blink twice every 5 seconds. This means it is ready to be configured.

    <ol>
    <li>
        Connect to the Wifi network named "ESP"
    </li>
    <li>
        Password is <strong>ESP12345</strong>
    </li>
    <li>
        Once connected, open up your web browser and navigate to <strong>http://192.168.4.1</strong>
    </li>
    <li>
        You should see the setup page where you can enter your Network name /SSID, network password and a name for the sensor
    </li>
    <li>
        Enter the details for your Wifi network the device will connect to and click "Submit"
    </li>
    <li>
        You should see a new page which says "Now trying to connect to your Wifi network" and
        a link titled "View your device". Save this link.
    </li>
    <li>
        Connect back to your wifi network and click on the link, or visit the {{#link-to 'devices'}}devices{{/link-to}} page.
    </li>
    <li>
        Once your device has sent a reading you will be able to view the reading on its
        unique device page (the link from the setup process). The device will also show up on the {{#link-to 'devices'}}devices{{/link-to}}
        page if you are connecting to this website from the same connection (IP address) that the device is online with.
    </li>
    <li>
        If the device is unable to connect to your wifi network it will go back into
        setup mode and blink twice every 5 seconds and
        you can start the process again.
    </li>
    <li>
        Once the device has successfully connected, you can get it back into setup mode by leaving it for ~2 hours plugged in
        somewhere where it cannot connect to the wifi network.
    </li>
</ol>
</p>


<h3>
Module types
</h3>

<img src="http://photos.smugmug.com/photos/i-xzS7gcx/1/S/i-xzS7gcx-S.jpg"
     <br>
<p>
    There are two types of modules - battery powered and USB powered. The battery powered module takes 4xAA batteries,
    while the USB powered module should be plugged into a USB charger.
</p>
<br>
<img src="http://photos.smugmug.com/photos/i-cG6KC29/1/S/i-cG6KC29-S.jpg">
</div>
